*, *::before, *::after{
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
* {
scrollbar-width: auto;
scrollbar-color: #3331af transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 16px;
}

*::-webkit-scrollbar-track {
background: transparent;
}

*::-webkit-scrollbar-thumb {
background-color: #7f7de2;
border-radius: 10px;
border: 3px solid #ffffff;
}

/* global */
.wrapper {
    margin: 0 65px;
    height: fit-content;
}

/* header/nav bar */
.nav-main-container {
    padding-top: 25px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

.nav-main-container .nav-container {
    display: flex;
    flex-direction: row;
}

.nav-main-container .nav-container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
}

.nav-main-container .nav-container ul li{
    list-style: none;
    margin-right: 53px;
}

.nav-main-container .nav-container ul li:first-child{
    margin-right: 0;
}

.nav-main-container .nav-container ul li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 25px;
    line-height: 100px;
    letter-spacing: -0.05em;
}

.nav-main-container .nav-container ul li:last-child{
    background: #130F49;
    border-radius: 40px;   
    width: 160px;
    height: 77px;   
    display: flex;
    align-items: center;  
    justify-content: center;           
}

.nav-main-container .nav-container ul li .contact-link{
    color: #fff;              
    font-weight: 500; 
}

.nav-main-container .nav-container ul li .e-tipid-logo{
    width: 215px;
    height: 100px;
    object-fit: cover;
}

/* heading */
.banner-main-container {
    margin-top: 129px;
    height: 1000px;
}

/* footer */
.footer-main-container {
    background: #1B2942F0;
    height: 290px;
}

.footer-main-container .footer-container {
    display: flex;
    color: #fff;
}

.footer-main-container .footer-container .logo{
    width: 350px;
    height: 175.51px;   
    margin-top: 5px;
}

.footer-main-container .footer-container .company-section{
    display: flex;
    flex-direction: column;
    padding-top: 41px;
    margin-left: 115px;
}

.footer-main-container .footer-container .company-section p {
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.footer-main-container .footer-container .company-section ul {
    list-style: none;
    padding-left: 0;
    position: relative;
}

.footer-main-container .footer-container .company-section ul li:first-child{
    width: 355px;
}

.footer-main-container .footer-container .company-section ul li:first-child img{
    width: 27px;
    height: 27px;
    position: absolute;
    left: 0;
    top: 10px;
}

.footer-main-container .footer-container .company-section ul li:nth-child(2) img{
    width: 27px;
    height: 27px;
    position: absolute;
    left: 0;
    top: 71px;
}

.footer-main-container .footer-container .company-section ul li:last-child img{
    width: 27px;
    height: 27px;
    position: absolute;
    left: 0;
    top: 115px;
}

.footer-main-container .footer-container .company-section ul li{
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    padding-left: 47px;
}

.footer-main-container .footer-container .company-section ul li:last-child{
    text-decoration: underline;
}

.footer-main-container .footer-container .link-section {
    display: flex;
    flex-direction: column;
    padding-top: 41px;
    margin-left: 115px;
}

.footer-main-container .footer-container .link-section .heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.footer-main-container .footer-container .link-section .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.footer-main-container .footer-container .link-section .link-container {
    margin-top: 34px;
}

.footer-main-container .footer-container .link-section .link-container p {
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.footer-main-container .footer-container .link-section .link-container .images-container img {
    width: 40px;
    height: 40px;
}

.footer-main-container .footer-container .link-section .link-container .images-container img:nth-child(2) {
    margin: 0 19px;
}