*, *::before, *::after{
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
* {
scrollbar-width: auto;
scrollbar-color: #3331af transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 16px;
}

*::-webkit-scrollbar-track {
background: transparent;
}

*::-webkit-scrollbar-thumb {
background-color: #7f7de2;
border-radius: 10px;
border: 3px solid #ffffff;
}

/* global */
.wrapper {
    margin: 0 auto;
    width: 1200px;
    height: fit-content;
}

/* header/nav bar */
.aboutLink.active {
    text-decoration: underline !important;
    text-decoration-color: rgba(0, 0, 0, 1);
}
.nav-main-container {
    padding-top: 35px;
    display: flex;
    width: 100%;
    background-color: #fff;
    transition: all .1s ease-in;
    position: fixed;
    top: 0;
    z-index: 999;
}

.nav-main-container.active {
    padding-top: 25px;
    box-shadow: 0px 5px 9px 1px rgba(0,0,0,0.56);
    -webkit-box-shadow: 0px 5px 9px 1px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 5px 9px 1px rgba(0,0,0,0.56);
}

.nav-main-container .nav-container {
    display: flex;
    flex-direction: row;
}

.nav-main-container .nav-container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
}

.nav-main-container .nav-container ul li{
    list-style: none;
    margin-right: 53px;
    height: 100px;
}

.nav-main-container .nav-container ul li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 25px;
    line-height: 100px;
    letter-spacing: -0.05em;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.nav-main-container .nav-container ul li:last-child{
    background: #130F49;
    border-radius: 40px;   
    width: 160px;
    height: 77px;   
    display: flex;
    align-items: center;  
    justify-content: center;           
}

.nav-main-container .nav-container ul li .contact-link{
    color: #fff;              
    font-weight: 500; 
}

.nav-main-container .nav-container ul li .e-tipid-logo{
    width: 89px;
    height: auto;
    background-image: url(../images/e-tipid\ logo.png);
}

/* heading */
.banner-main-container {
    margin-top: 129px;
    height: 1000px;
}

.item-cards-main-container {
    height: fit-content;
    background-color: #1B2942;
    padding: 83px 0 143px 0;
}

.item-cards-main-container .item-cards-container {
    display: flex;
    flex-direction: column;
}

.item-cards-main-container .item-cards-container .heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 111px;
}

.item-cards-main-container .item-cards-container .item-cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-cards-main-container .item-cards-container .item-cards-wrapper .item-card {       
    background-color: #fff;
    width: 330px;
    height: 430px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 52px 28px;
    transition: all .2s ease;
}

.item-cards-main-container .item-cards-container .item-cards-wrapper .item-card:hover {
    margin-top: -10px;
    transform: rotate(5deg);
}  

.item-cards-main-container .item-cards-container .item-cards-wrapper .item-card .heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 52px;
    letter-spacing: -0.016em;
    color: #000;
    text-align: left;
    margin-bottom: 24px;
}

.item-cards-main-container .item-cards-container .item-cards-wrapper .item-card .desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
}

/* team section */

.team-main-container {
    display: flex;
    justify-content: center;
    padding: 30px;
    min-height: 500px;
}

.team-main-container .team-container {
    display: flex;
    justify-content: center;
}

.team-main-container .team-container .heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #130F49;
    border-bottom: solid 2px #DCA603;
    width: 499px;
}

/* footer */
.footer-main-container {
    background: #1B2942F0;
    height: 290px;
}

.footer-main-container .footer-container {
    display: flex;
    color: #fff;
}

.footer-main-container .footer-container .logo {
    width: 350px;
    height: 175.51px;   
    margin-top: 5px;
}

.footer-main-container .footer-container .company-section {
    display: flex;
    flex-direction: column;
    padding-top: 41px;
    margin-left: 115px;
}

.footer-main-container .footer-container .company-section p {
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.footer-main-container .footer-container .company-section ul {
    list-style: none;
    padding-left: 0;
    position: relative;
}

.footer-main-container .footer-container .company-section ul li:first-child {
    width: 355px;
}

.footer-main-container .footer-container .company-section ul li:first-child img {
    width: 27px;
    height: 27px;
    position: absolute;
    left: 0;
    top: 10px;
}

.footer-main-container .footer-container .company-section ul li:nth-child(2) img {
    width: 27px;
    height: 27px;
    position: absolute;
    left: 0;
    top: 71px;
}

.footer-main-container .footer-container .company-section ul li:last-child img {
    width: 27px;
    height: 27px;
    position: absolute;
    left: 0;
    top: 115px;
}

.footer-main-container .footer-container .company-section ul li {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    padding-left: 47px;
}

.footer-main-container .footer-container .company-section ul li:last-child {
    text-decoration: underline;
}

.footer-main-container .footer-container .link-section {
    display: flex;
    flex-direction: column;
    padding-top: 41px;
    margin-left: 115px;
}

.footer-main-container .footer-container .link-section .heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.footer-main-container .footer-container .link-section .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.footer-main-container .footer-container .link-section .link-container {
    margin-top: 34px;
}

.footer-main-container .footer-container .link-section .link-container p {
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.footer-main-container .footer-container .link-section .link-container .images-container img {
    width: 40px;
    height: 40px;
}

.footer-main-container .footer-container .link-section .link-container .images-container img:nth-child(2) {
    margin: 0 19px;
}

.copyright {
    width: 100%;
    background-color: #1A2538;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.015em;
    color: #fff;
    text-align: center;
}

/* banner */
.banner-main-container .banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

/* mission */
.mission-main-container {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(220, 166, 3, 0.79);;
}

.mission-main-container .mission-container {
    padding: 53px 0 93px 0;
}

.mission-main-container .mission-container .mission-text:first-child {
    margin-bottom: 62px;
}

.mission-main-container .mission-container .mission-text .heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 11px;
}

.mission-main-container .mission-container .mission-text .content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.036em;
    color: #fff;
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        width: 900px;
    }

    .footer-container {
        justify-content: space-between;
    }

    .footer-main-container .footer-container .company-section {
        margin-left: 0px;
    }

    .footer-main-container .footer-container .link-section {
        margin-left: 0px;
    }

    .item-cards-main-container .item-cards-container .item-cards-wrapper .item-card {
        transform: scale(0.8);
    }
}
/* 
@media only screen and (max-width: 992px) {
    
}

@media only screen and (max-width: 768px) {
    
} */